html {
    position: relative;
    min-height: 100%;       /* Makes footer stick to the bottom */
}

body {
    margin-bottom: 60px;    /* Distance to footer */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    height: 60px;           /* Footer hight */
    line-height: 60px;      /* Center text */
}
