.chat-message {
    border-radius: 25px;
    box-shadow: 2px 2px;
    background: rgba(223, 229, 121, 0.9);
    padding: 20px;
    margin-bottom: 5px;
}

.message-text {
    margin-top: 5px;
}

.message-name {
    margin-left: 5px;
    display: inline-block;
}
